$font-stack: 'Open Sans', sans-serif;

$body-bg: #F0F0F0;
$content-bg: #FFF;
$live-red-bg: #dd0000;
$roll-green: #0fac16;
$roll-red: #ed1b23;
$link-blue: #0000ee;
$gray-bg: #E5E5E5;
$sources-color: #8a8a8a;
$footer-bg: #33363F;
$footer-font-color: #a7a7a7




